

.Card{
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    margin: 20px;
    padding: 20px;
    width: 25%;
    transition: 0.8s;
    cursor: pointer;
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.034);
    text-align: left;
    
}

.Card:hover{
    transform: scale(1.1);
}

.Card .id{
    font-size: 15px;
    color: #888888;
    font-weight: 600;
}

.Card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}


.poison{
    background-color: #A33EA11A;
}

.CardFire{
    background-color:#EE81301A;
}
.CardWater{
    background-color: #6390F01A;
}
.CardGrass{
    background-color: #7AC74C1A;
}
.CardFairy{
    background-color: #d281a018;
}

.type {
    padding: 8px;
    border-radius: 8px;
    font-weight: 600;
    color: white;
    background-color: #A8A8A8;
    padding: 5px;
    text-transform: uppercase;
    font-size: 15px;
    margin-right: 8px;
}


.type.fire {
  background-color: #f08030;
}

.type.water {
  background-color: #6890f0;
}

.type.grass {
  background-color: #78c850;
}

.type.electric {
  background-color: #f8d030;
}

.type.psychic {
  background-color: #f85888;
}

.type.ice {
  background-color: #98d8d8;
}

.type.poison{
    background-color: #a040a0;
}

.type.dragon {
  background-color: #7038f8;
}

.type.flying {
  background-color: #a890f0;
}

.type.normal {
  background-color: #a8a878;
}

.type.rock {
  background-color: #763504;
}

.type.bug {
  background-color: #606b04;
}
.type.fairy {
  background-color: #ee99ac;
}
.type.ground {
  background-color: #c29c34;
}
.type.fighting {
  background-color: #c03028;
}



@media (max-width: 768px) {
    .Card {
        width: 90%;
        padding: 16px;
        margin: 12px auto;
    }

    .Card span {
        font-size: 13px;
        padding: 8px 12px;
    }

    .Card img {
        width: 100px;
    }
}

@media (max-width: 480px) {
    .Card {
        width: 100%;
        padding: 12px;
        margin: 12px auto;
    }

    .Card img {
        width: 80px;
    }

    .Card span {
        font-size: 12px;
        padding: 6px 10px;
    }
}
